body{
background-color: antiquewhite;
}
/* this is the paragraph style code*/
p{
color: rgb(71, 71, 71);;
background-color: rgb(230,230,250);
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border: 5px double;
border-color: darkolivegreen;
text-shadow: 1px 1px 2px lightslategrey;
padding-right:10px;
padding-left:10px;
padding-bottom: 10px;
padding-top:10px;
width: 50%;
height: 50%;
margin: auto;
margin-top: 2%;
margin-bottom: 2%;
}
/* this is the list item style code*/
li{
color: rgb(71, 71, 71);
background-color: rgb(230,230,250);
font-family: sans-serif;	
border-color: darkolivegreen;
border: 5px double;
outline-style: ridge;
text-shadow: 1px 1px 2px lightslategrey;
padding-right:10px;
padding-left:10px;
padding-bottom: 10px;
padding-top:10px;
width: 50%;
height: 50%;
margin: auto;
	
}

.body1{
font: sans-serif;
	
}

.body2{
color: lightslategrey;
}
table{
	border: 1px double ;
	border-color: darkolivegreen;
	margin: auto; /* automatically centers content on the screen or whatever it is inside of.
								ex: a div*/
	margin-top: 2%;
	margin-bottom: 2%;
	color: rgb(71, 71, 71);
}
td{
	border: 1px double ;
	border-color: darkolivegreen;
	color: rgb(71, 71, 71);
	background-color: rgb(230,230,250);
}
th{
	border: 1px double ;
	border-color: darkolivegreen;
	border: 3px double ;
	background-color: rgb(230,230,250);
	color: rgb(71, 71, 71);
}
.t1{
	padding-right:10px;
	padding-left:10px;
	padding-bottom: 10px;
	padding-top:10px;
}
img{
	height: 30%;
	width: 30%;
}
img:focus{
	box-shadow: #0f360bcc;
}
a{
	
	background: radial-gradient(floralwhite,thistle);
	border-radius: 0px 25px 0px 25px;
	color: rgb(71, 71, 71);;
	border: 10px double ;
	border-color: darkolivegreen;
	padding-right:10px;
	padding-left:10px;
	padding-bottom: 10px;
	padding-top:10px;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	text-align-last: center;
	width: 40%;
	height: 50%;
	text-decoration: none;
}
	
.youtube{
	background: radial-gradient(floralwhite,thistle);
	border-radius: 0px 25px 0px 25px;
	color: rgb(71, 71, 71);;
	border: 10px double ;
	border-color: darkolivegreen;
	padding-right:10px;
	padding-left:10px;
	padding-bottom: 10px;
	padding-top:10px;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	text-align-last: center;
	width: 40%;
	height: 50%;
	text-decoration: none;
}



a:hover{
	background: radial-gradient(floralwhite,rgb(172, 83, 98) );
	color:grey;
}
a:active{
	background: radial-gradient(floralwhite,rgb(74, 117, 131) );
	color:grey;
}
a:focus{
	background: radial-gradient(floralwhite,darkolivegreen );
	color:grey;
	
}
a:visited{
	background: radial-gradient(floralwhite,rgb(124, 68, 124) );
	color:rgb(85, 60, 102);
	transition: color 2s;
}

a:visited:hover{
	background: radial-gradient(floralwhite,rgb(173, 58, 77) );
	color:grey;
}
.youtube:hover{
	animation: five_color 3s linear infinite;
	
}
.youtube:active{
	background: radial-gradient(floralwhite,rgb(74, 117, 131) );
	color:grey;
}
.youtube:focus{
	background: radial-gradient(floralwhite,darkolivegreen );
	color:grey;
	
}
h2{
	background: rgb(230,230,250);
	border-radius: 10px 10px 10px 10px;
	color: rgb(71, 71, 71);
	border: 12px double ;
	border-color: darkolivegreen;
	padding-right:10px;
	padding-left:10px;
	padding-bottom: 10px;
	padding-top:10px;
	text-align-last: center;
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 25%;
	height: 50%;
	
}
.form_bg{
	background-color:#DEB887CC; /* the CC is for transparancy of the backgorund color!!!!*/
	float:center;
	margin:auto;
	text-align-last: center;
	width:30%;
	height:25%;
	
}
.form_bg:hover{
	background-color:#DEB887CC; /* the CC is for transparancy of the backgorund color!!!!*/
	float:center;
	margin:auto;
	text-align-last: center;
	width:30%;
	height:25%;
	animation: five_color 3s linear infinite;
	
}

@keyframes five_color {
	0%{
		background-color: rgb(41, 84, 134);
	}
	20%{
		background-color:rgb(25, 82, 29);
	}
	40%{
		background-color: rgb(128, 128, 53);
	}
	60%{
		background-color: rgb(112, 61, 70);
	}
	80%{
		background-color: rgb(69, 30, 87);
	}
	100%{
		background-color: rgb(17, 56, 105);
	}


}
.menu{
	background-color:#FFFFFFCC; /* the CC is for transparancy of the backgorund color!!!!*/
	padding-right:10px;
	padding-left:10px;
	padding-bottom: 10px;
	padding-top:10px;
	margin: auto;
	width: 50%;
	height: 50%;
}
h3{
	background: rgb(230,230,250);
	border-radius: 10px 10px 10px 10px;
	color: rgb(71, 71, 71);
	border: 12px double ;
	border-color: darkolivegreen;
	padding-right:10px;
	padding-left:10px;
	padding-bottom: 10px;
	padding-top:10px;
	text-align-last: center;
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 40%;
	height: 50%;
}
form{
	background-color:#FFFFFFCC; /* the CC is for transparancy of the backgorund color!!!!*/
	width:30%;
	height:50%;
	text-align-last: center;
	float:center;
	margin:auto;
}
.play_btn{
	color:darkolivegreen;
	transition: color 3s;
	font-size: 40px;
}
.play_btn:hover{
	color: rgb(148, 161, 126);
	font-size: 35px;
}
.play_btn:active{
	color: lightblue ;
	
}
.play_btn:focus{
	color: darkolivegreen ;
	
}
.play_btn:visited{
	color: rgb(124, 68, 124) ;
	
}
.player{
	min-height: 200px;
	background-color:#FFFFFFCC; /* the CC is for transparancy of the backgorund color!!!!*/
	text-align-last: center;
	float:center;
	margin:auto;
	padding-right:10px;
	padding-left:10px;
	padding-bottom: 10px;
	padding-top:10px;
	text-align-last: center;
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 25%;
	height: 50%;
}
.pause_btn{
	color:darkolivegreen;
	transition: color 3s;
	font-size: 40px;
}
.pause_btn:hover{
	color: rgb(148, 161, 126);
	font-size: 35px;
}
.noise_btn{
	color:darkolivegreen;
	transition: color 3s;
	font-size: 40px;
}
.noise_btn:hover{
	color: rgb(148, 161, 126);
	font-size: 35px;
}
.vert_slider {
	transform: rotate(270deg);
}

.h_img {
	width: 200px;
	transition: width 5s ease-out;
}

.h_img:hover {
	transform: scale(.9);
	width:190px;
}
.circle_b{
	width: 100px;
	height: 100px;
	transition: background-color 2s, width 2s, height 2s;
	border: 5px solid black;
	border-radius: 50%;
	background-color: red;
	float:center;
	
}

.circle_b:hover{
	width: 90px;
	height: 90px;
	border: 5px solid black;
	border-radius: 50%;
	/*background-color: purple;*/
	animation: five_color 3s linear infinite;
	
}